<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- Permitir llamadas de otros servidores -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!-- / Permitir llamadas de otros servidores -->
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Servicios.ModuloBecas.ServicioTipoBecaAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="Servicios.ModuloBecas.ServiciosBeneficiosAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="Servicios.ModuloBecas.ServiciosRequisitosAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="Servicios.ModuloSeguridad.ServiciosUsuarioAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="Servicios.ModuloBecas.ServiciosEstudiosAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="Servicios.ModuloAcademico.ServiciosCursoAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="Servicios.ModuloSeguridad.ServiciosRolAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="Servicios.ModuloAcademico.ServiciosCalificacionAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="Servicios.ModuloBecas.ServiciosBecasAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="Servicios.ModuloBecas.ServiciosAprobacionesAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="Servicios.ModuloBecas.ServiciosSolicitudesAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="Servicios.ModuloAcademico.ServiciosCarreraAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="Servicios.ModuloNotificaciones.ServiciosNotificacionesAspNetAjaxBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Servicios.ModuloBecas.ServicioTipoBeca">
        <endpoint address="" behaviorConfiguration="Servicios.ModuloBecas.ServicioTipoBecaAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Servicios.ModuloBecas.ServicioTipoBeca" />
      </service>
      <service name="Servicios.ModuloBecas.ServiciosBeneficios">
        <endpoint address="" behaviorConfiguration="Servicios.ModuloBecas.ServiciosBeneficiosAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Servicios.ModuloBecas.ServiciosBeneficios" />
      </service>
      <service name="Servicios.ModuloBecas.ServiciosRequisitos">
        <endpoint address="" behaviorConfiguration="Servicios.ModuloBecas.ServiciosRequisitosAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Servicios.ModuloBecas.ServiciosRequisitos" />
      </service>
      <service name="Servicios.ModuloSeguridad.ServiciosUsuario">
        <endpoint address="" behaviorConfiguration="Servicios.ModuloSeguridad.ServiciosUsuarioAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Servicios.ModuloSeguridad.ServiciosUsuario" />
      </service>
      <service name="Servicios.ModuloBecas.ServiciosEstudios">
        <endpoint address="" behaviorConfiguration="Servicios.ModuloBecas.ServiciosEstudiosAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Servicios.ModuloBecas.ServiciosEstudios" />
      </service>
      <service name="Servicios.ModuloAcademico.ServiciosCurso">
        <endpoint address="" behaviorConfiguration="Servicios.ModuloAcademico.ServiciosCursoAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Servicios.ModuloAcademico.ServiciosCurso" />
      </service>
      <service name="Servicios.ModuloSeguridad.ServiciosRol">
        <endpoint address="" behaviorConfiguration="Servicios.ModuloSeguridad.ServiciosRolAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Servicios.ModuloSeguridad.ServiciosRol" />
      </service>
      <service name="Servicios.ModuloAcademico.ServiciosCalificacion">
        <endpoint address="" behaviorConfiguration="Servicios.ModuloAcademico.ServiciosCalificacionAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Servicios.ModuloAcademico.ServiciosCalificacion" />
      </service>
      <service name="Servicios.ModuloBecas.ServiciosBecas">
        <endpoint address="" behaviorConfiguration="Servicios.ModuloBecas.ServiciosBecasAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Servicios.ModuloBecas.ServiciosBecas" />
      </service>
      <service name="Servicios.ModuloBecas.ServiciosAprobaciones">
        <endpoint address="" behaviorConfiguration="Servicios.ModuloBecas.ServiciosAprobacionesAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Servicios.ModuloBecas.ServiciosAprobaciones" />
      </service>
      <service name="Servicios.ModuloBecas.ServiciosSolicitudes">
        <endpoint address="" behaviorConfiguration="Servicios.ModuloBecas.ServiciosSolicitudesAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Servicios.ModuloBecas.ServiciosSolicitudes" />
      </service>
      <service name="Servicios.ModuloAcademico.ServiciosCarrera">
        <endpoint address="" behaviorConfiguration="Servicios.ModuloAcademico.ServiciosCarreraAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Servicios.ModuloAcademico.ServiciosCarrera" />
      </service>
      <service name="Servicios.ModuloNotificaciones.ServiciosNotificaciones">
        <endpoint address="" behaviorConfiguration="Servicios.ModuloNotificaciones.ServiciosNotificacionesAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Servicios.ModuloNotificaciones.ServiciosNotificaciones" />
      </service>
    </services>
  </system.serviceModel>
</configuration>